body {
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px 20px;
    font-family: sans-serif;
}

.container {
    background-color: #02044a;
    border-radius: 30px;
    height: 98vh;
    box-sizing: border-box;
    padding: 40px 100px;
    color: white;

}

.left{
 width: 60%;
 float:left;
 vertical-align: middle;
}

.right{
    height: 100%;
    width: 40%;
    float: left;
    vertical-align: middle;

}

.Fill-up {
    color: white;
    font-size: 20px;
    line-height: 40px;
}

.contact-list{
    list-style-type: none;
    padding: 0;
    margin-top: 120px;
}

.contact-list li{
    color: white;
    margin: 20px 0;
    font-size: 20px;
    box-sizing: border-box;
    padding: 15px 20px;
    height: 65px;
    cursor: pointer;
}

.telefoni {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    position: relative;
    top: 5px;

}

.mail {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    position: relative;
    top: 5px;
}

.lokacioni{
    width: 25px;
    height: 25px;
    margin-right: 20px;
    position: relative;
    top: 5px;
}

.social-list {
list-style-type: none;
padding: 0;
margin-top: 250px;

}

.social-list li {
    display: inline-block;
    margin: 0 20px;
    width: 50px;
    height: 50px;

}

.social-list li .telefoni .mail .lokacioni {
    position: relative;
    left: 13px;
    top: 13px;

}
.social-list li:hover{
    border-radius: 100%;
    background-color: lightskyblue;
}

form{
    box-sizing: border-box;
    padding: 40px;
    background-color: white;
    height: 90%;
    margin-top: 40px;

}

